* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  background-color: rgba(253, 253, 253, 0.452);
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.nav #nav-check {
  display: none;
}

.nav .nav-header {
  padding: 10px;
}

.nav .nav-header .nav-title {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.nav .nav-header .nav-title img {
  width: 5%;
}

.nav .nav-header .nav-title p {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}

.nav .nav-header .nav-title p a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.596);
  text-transform: uppercase;
}

.nav .nav-links a {
  padding: 8px 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #efefef;
}

.background {
  background-image: url("images/background.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background .sometext {
  color: white;
  font-size: 70px;
  font-weight: bold;
  padding: 20px;
  width: 60%;
  position: absolute;
  bottom: 0;
}

.forms {
  background-color: rgba(253, 253, 253, 0.911);
  float: right;
  margin: 0px 100px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 27%;
  padding: 2%;
}

.forms p:first-child {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0;
}

.forms p:nth-child(2) {
  width: 100%;
  opacity: .8;
}

.forms form {
  width: 100%;
}

.forms form input {
  width: 100%;
  padding: 4% 3%;
  border: none;
  margin: 8px auto;
}

.forms form .check-box label {
  padding: 1px;
}

.forms form .check-box input[type=checkbox],
.forms form .check-box input[type=radio] {
  position: relative;
  bottom: 1px;
  width: 10%;
  margin-left: -10px;
}

.forms form #last {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .background {
    background-color: #241204a6;
    background-blend-mode: multiply;
    background-image: url("images/background.jpg");
  }
  .background .sometext {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    position: relative;
    right: 0;
    text-align: right;
  }
  .background .forms {
    border-radius: 1%;
    float: none;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 85%;
    padding: 2%;
  }
  .background .forms p:first-child {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: 95%;
    margin: 10px auto;
  }
  .background .forms p:nth-child(2) {
    font-size: 12px;
    opacity: .5;
    width: 95%;
    margin: auto;
  }
  .background .forms form {
    width: 95%;
    margin: auto;
  }
  .background .forms form input {
    width: 100%;
    margin: 8px auto;
  }
  .background .forms form .check-box label {
    padding: 1px;
  }
  .background .forms form .check-box input[type=checkbox],
  .background .forms form .check-box input[type=radio] {
    position: relative;
    bottom: 1px;
    width: 10%;
    margin-left: -5px;
  }
  .background .forms form #last {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 2%;
  }
  .nav {
    background-color: white;
  }
  .nav .nav-header .nav-title img {
    width: 7%;
    margin-left: 12px;
  }
  .nav .nav-header .nav-title p {
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
  }
  .nav .nav-header .nav-title p a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  .nav .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
  }
  .nav .nav-btn label {
    width: 50px;
    padding: 10px;
  }
  .nav .nav-btn label span {
    height: 10px;
    display: block;
    border-top: 2px solid black;
  }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    right: 0px;
    z-index: 2;
  }
  .nav .nav-links p {
    margin: 10px 0;
  }
  .nav .nav-links p a {
    display: block;
    width: 100%;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/*# sourceMappingURL=style.css.map */