body, * {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.return {
  margin: 2em;
}

.return a {
  text-decoration: none;
  padding: 1em;
  background-color: black;
  color: white;
}

.return a:hover {
  background-color: gray;
}

.title-head {
  text-align: center;
  font-size: 2em;
  letter-spacing: 5px;
  padding: 2em 0 0 0;
  font-weight: 700;
  color: #014B7D;
}

.border {
  background-color: black;
  font-size: 4px;
  text-align: center;
  width: 30%;
  margin: 5em auto 0 auto;
}

.sub-heading {
  font-size: 1.8em;
  letter-spacing: 5px;
  font-weight: 700;
  color: #014B7D;
  text-align: center;
  margin: .5em auto 0 auto;
}

form {
  padding: 1em;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
  margin: 1em auto;
}

form .sbt {
  padding: 8px 12px;
  border: none;
  background-color: black;
  color: white;
}

form .sbt:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

form .rst:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

form .rst {
  padding: 8px 12px;
  border: none;
  background-color: brown;
  color: white;
}

form .personal-information,
form .fsy-information,
form .medical-information {
  margin: 1em 0;
}

form .personal-information .title,
form .fsy-information .title,
form .medical-information .title {
  font-variant-caps: all-petite-caps;
  font-weight: 700;
  font-size: 12pt;
  letter-spacing: 3px;
}

form .personal-information .title::after,
form .fsy-information .title::after,
form .medical-information .title::after {
  content: "*";
  color: red;
}

form .personal-information {
  border: 3px solid #014b7d;
  border-radius: 10px;
  padding: 1em;
}

form .personal-information .fullname, form .personal-information .title, form .personal-information .gender, form .personal-information .birthday {
  margin: 8px 0;
}

form .personal-information .fullname input {
  margin: 8px 0;
  padding: 8px;
  color: #5e5a5a;
  border: 1px solid #014b7d;
  width: 230px;
}

form .personal-information .gender div input {
  margin: 8px 8px 8px 0;
  cursor: pointer;
}

form .personal-information .birthday input {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #014b7d;
  cursor: pointer;
}

form .fsy-information {
  border-radius: 10px;
  border: 3px solid #014b7d;
  padding: 1em;
}

form .fsy-information .member, form .fsy-information .age, form .fsy-information .ward, form .fsy-information .shirt-size {
  margin: 8px 0;
}

form .fsy-information .member div {
  margin: 8px 0;
}

form .fsy-information .member div input {
  margin: 8px 8px 8px 0;
  cursor: pointer;
}

form .fsy-information .age select, form .fsy-information .age option, form .fsy-information .ward select, form .fsy-information .ward option, form .fsy-information .shirt-size select, form .fsy-information .shirt-size option {
  margin: 8px 0;
  padding: 8px;
  cursor: pointer;
}

form .medical-information {
  border-radius: 10px;
  border: 3px solid #014b7d;
  padding: 1em;
}

form .medical-information .title, form .medical-information .allergies, form .medical-information .text-box {
  margin: 8px 0;
}

form .medical-information .allergies div input {
  margin: 8px 8px 8px 0;
  cursor: pointer;
}

form .medical-information .text-box p {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 2px solid black;
}

form .medical-information .text-box textarea {
  margin: 10px 0 0 0;
  padding: 8px;
  width: 395px;
  height: 200px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .title-head {
    font-size: 15px;
    padding: 20px;
  }
  .border {
    background-color: black;
    font-size: 2px;
    text-align: center;
    width: 90%;
    margin: 1px auto 20px auto;
  }
  .sub-heading {
    font-size: 12px;
  }
  form {
    max-width: 430px;
    margin: 0 auto;
  }
  form .text-box textarea {
    margin: 8px 8px 8px 0;
    padding: 8px;
    max-width: 230px;
    height: 120px;
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */