header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  background-color: white;
  color: black;
  z-index: 3;
}

header .container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  border-bottom: 5px solid black;
}

header .container .logo img {
  width: 15%;
}

header .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .right #nav-check {
  display: none;
}

header .container .right label span {
  display: none;
}

header .container .right .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .right .center li {
  list-style-type: none;
}

header .container .right .center li a {
  color: black;
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'burlow', sans-serif;
}

@media only screen and (max-width: 600px) {
  header .container {
    padding: 10% 0%;
    border-bottom: 1px solid #ccc;
  }
  header .container .logo img {
    width: 40%;
  }
  header .container .right label {
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: 20px;
  }
  header .container .right label span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: black;
  }
  header .container .right .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 0px;
    left: 50%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0%;
    vertical-align: middle;
    text-align: center;
  }
  header .container .right .nav-links .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 100%;
    background-color: white;
    height: 500px;
    left: 0%;
  }
  header .container .right .nav-links .center li {
    margin: 15px 0;
  }
  header .container .right #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  header .container .right #nav-check:checked ~ .nav-links {
    height: calc(40vh - 50px);
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=nav.css.map */