* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about,
.cover {
  min-height: 100vh;
}

.cover {
  overflow-x: hidden;
  position: relative;
}

.cover #myVideo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.cover .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: black;
  opacity: 0.5;
}

.cover .content {
  position: absolute;
  left: 0;
  top: 0;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 2;
}

.cover .content p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  color: white;
  z-index: 1;
}

.cover .content .learn {
  z-index: 1;
}

.cover .content .learn p {
  font-size: 1em;
}

.cover .title {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  color: white;
  z-index: 4;
}

.cover .me {
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 2;
}

.cover .me .image {
  text-align: center;
  margin: auto;
}

.cover .me .image img {
  width: 10%;
}

.cover .me .info .mee {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  width: 50%;
  margin: 0 auto;
}

.cover .me .other-info {
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover .me .other-info p {
  margin-right: 10px;
  text-align: left;
  letter-spacing: 1px;
}

.cover .me .other-info p a i {
  font-size: 25px;
  color: gray;
}

.cover .me .resume {
  margin: 20px auto;
  width: 50%;
  text-align: center;
}

.cover .me .resume a {
  color: white;
  background-color: #c94242;
  padding: 12px 12px;
  text-decoration: none;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-x: scroll;
  position: relative;
}

.project .title-container {
  display: none;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  color: black;
}

.project .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.project .project-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.project .project-container .item .image {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("https://via.placeholder.com/200x200");
}

.project .project-container .item .image img {
  width: 100%;
}

.project .project-container .item .desc {
  background-color: white;
  position: relative;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .project-container .item .desc p {
  padding: 2%;
  overflow-y: auto;
  text-align: center;
}

.project .project-container .item .desc a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
}

.skill-container {
  position: relative;
  overflow-x: scroll;
}

.skill-container .title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  color: black;
  position: relative;
}

.skill-container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  z-index: 2;
}

.skill-container .skills img {
  width: 200px;
  height: 200px;
}

footer {
  position: relative;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid black;
  padding: 20px;
}

footer p {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
  font-size: 2.2em;
  color: black;
}

@media all and (min-width: 280px) and (max-width: 768px) {
  .cover .me .image img {
    width: 30%;
  }
  .cover .me .info .mee {
    font-size: 15px;
    width: 70%;
  }
  .cover .me .other-info {
    margin: 15px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cover .me .other-info p {
    margin-right: 10px;
    text-align: left;
    letter-spacing: 1px;
  }
  .cover .me .other-info p a i {
    font-size: 25px;
    color: gray;
  }
  .cover .me .resume {
    margin: 20px auto;
    width: 50%;
    text-align: center;
  }
  .cover .me .resume a {
    color: white;
    background-color: #c94242;
    padding: 12px 12px;
    text-decoration: none;
  }
  .cover .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: black;
    opacity: 0.5;
  }
  .cover .content {
    position: absolute;
    left: 0;
    top: 0;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    z-index: 2;
  }
  .cover .content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    color: white;
    z-index: 1;
  }
  .cover .content .learn {
    z-index: 1;
  }
  .cover .content .learn p {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */