* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;

}

body {
    // background-image: url("");
    // background-size: cover;
    // background-blend-mode: screen;
    background-color: #b9b8b8;
}

.contact-info {
    background-color: #ffffff;


    .me {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .image {
            padding: 1%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;

            img {

                width: 100%;
            }


        }

        .info {
            cursor: grab;
            padding: 1%;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            color: black;
            border: solid 1px;
            border-radius: 10px;
            // border: 1px solid red;
            //background-color:#444444;

            p {
                font-size: 13px;
                margin: 10px;
                text-align: center;
                letter-spacing: 1px;

                a {
                    text-decoration: none;
                }
            }
        }

    }

}

h4 {
    display: none;
}


.project,

.skills {
    margin: 50px 0;
    background-color: #ffffff;
}

.project {
    cursor: grab;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 10px;
        height: 50px;
        font-size: 40px;
    }

    div {
        margin: 5px;

        .image {
            position: relative;
            width: 250px;
            height: 300px;
            background-image: url('https://via.placeholder.com/250x300');

        }

        .desc {
            background-color: white;

            position: relative;
            width: 250px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            p {
                padding: 2%;
                overflow-y: auto;
            }

            a {
                margin: 10px;
                text-decoration-line: none;
                background-color: black;
                color: whitesmoke;
                padding: 10px;
            }

        }
    }


}

.skills {
    display: flex;
    flex-wrap: wrap;
    cursor: grab;
    justify-content: space-evenly;
    align-items: center;


    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        margin: 10px;
        font-size: 40px;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        height: 200px;

        .image {
            img {
                width: 60%;
            }
        }

    }
}

footer {
    padding: 1.5%;
    border-top: 1px solid #d1d1d1;
    background-color: white;
    color: #767676;
    text-align: center;
}


@media all and (min-width: 280px) and (max-width: 768px) {


    h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .contact-info {

        .me {

            .image {
                width: 100%;

                img {

                    width: 100%;
                }


            }

            .info {
                padding: auto;

                display: flex;
                flex-wrap: nowrap;
                justify-content: start;
                overflow-x: scroll;
                // border: 1px solid red;
                //background-color:#444444;

                p {
                    margin: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    white-space: nowrap
                }
            }

        }

    }

    .project {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: scroll;


        h1 {
            display: none;
        }

    }


    .skills {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        overflow-y: auto;
        height: 300px;

        h1 {
            display: none;
        }
    }

    footer {
        padding: 1.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #d1d1d1;
        background-color: white;
        color: #767676;
        text-align: center;
        height: 50px;
    }
}