* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

body {
    // background-image: url("");
    // background-size: cover;
    // background-blend-mode: screen;
    background-color: #f0f2f5;
}

.contact-info {
    background-color: #ffffff;

    .me {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .image {
            padding: 1%;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;

            img {
                width: 100%;
            }
        }

        .info {
            cursor: grab;
            padding: 1%;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: start;
            color: black;
            border-top: solid 1px gray;
            border-bottom: solid 1px gray;

            p {
                font-size: 13px;
                margin: 10px;
                text-align: center;
                letter-spacing: 1px;

                a {
                    text-decoration: none;
                }
            }
        }

    }

}

h4 {
    display: none;
}


.project,
.skills {
    margin: 50px 0;
    background-color: #ffffff;
    border-top: solid 1px gray;

}

.project {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    overflow-x: scroll;

    .title-container {
        font-size: 20px;
        white-space: nowrap;
        padding: 1.5%;
    }

    .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;

        .item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin: 10px;

            .image {
                position: relative;
                width: 200px;
                height: 200px;
                background-image: url('https://via.placeholder.com/200x200');
            }

            .desc {
                background-color: white;
                position: relative;
                width: 200px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                p {
                    padding: 2%;
                    overflow-y: auto;
                }

                a {

                    text-decoration-line: none;
                    background-color: black;
                    color: whitesmoke;
                    padding: 10px;
                }
            }
        }
    }
}


.skills {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: scroll;



    .title-container {
        font-size: 20px;
        white-space: nowrap;
        padding: 1.5%;
    }

    .skill-container {
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
        align-items: center;
        cursor: grab;

        .item {
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 150px;

            .image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            p {
                white-space: nowrap;
            }
        }
    }
}


footer {
    padding: 1%;
    border-top: 1px solid #d1d1d1;
    background-color: white;
    color: #767676;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}


@media all and (min-width: 280px) and (max-width: 768px) {


    .contact-info {
        .me {
            .image {
                width: 50%;

                img {
                    width: 100%;
                }


            }

            .info {
                padding: 0;

                display: flex;
                flex-wrap: nowrap;
                justify-content: start;
                overflow-x: scroll;
                // border: 1px solid red;
                //background-color:#444444;

                p {
                    margin: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    white-space: nowrap
                }
            }

        }

    }

    .project {


        .title-container {
            font-size: 16px;
            white-space: nowrap;
            padding: 3.5%;
        }


    }


    .skills {
        height: 250px;

        .title-container {
            font-size: 16px;
            white-space: nowrap;
            padding: 3.5%;
        }

        .skill-container {

            .item {
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100px;

                .image {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                p {
                    white-space: nowrap;
                }
            }
        }
    }

    footer {
        padding: 4%;

    }
}