* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

body {
  background-color: #f0f2f5;
}

.contact-info {
  background-color: #ffffff;
}

.contact-info .me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info .me .image {
  padding: 1%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.contact-info .me .image img {
  width: 100%;
}

.contact-info .me .info {
  cursor: -webkit-grab;
  cursor: grab;
  padding: 1%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: black;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.contact-info .me .info p {
  font-size: 13px;
  margin: 10px;
  text-align: center;
  letter-spacing: 1px;
}

.contact-info .me .info p a {
  text-decoration: none;
}

h4 {
  display: none;
}

.project,
.skills {
  margin: 50px 0;
  background-color: #ffffff;
  border-top: solid 1px gray;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-x: scroll;
}

.project .title-container {
  font-size: 20px;
  white-space: nowrap;
  padding: 1.5%;
}

.project .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.project .project-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.project .project-container .item .image {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("https://via.placeholder.com/200x200");
}

.project .project-container .item .desc {
  background-color: white;
  position: relative;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .project-container .item .desc p {
  padding: 2%;
  overflow-y: auto;
}

.project .project-container .item .desc a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-x: scroll;
}

.skills .title-container {
  font-size: 20px;
  white-space: nowrap;
  padding: 1.5%;
}

.skills .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.skills .skill-container .item {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
}

.skills .skill-container .item .image {
  width: 100%;
}

.skills .skill-container .item .image img {
  width: 100%;
}

.skills .skill-container .item p {
  white-space: nowrap;
}

footer {
  padding: 1%;
  border-top: 1px solid #d1d1d1;
  background-color: white;
  color: #767676;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

@media all and (min-width: 280px) and (max-width: 768px) {
  .contact-info .me .image {
    width: 50%;
  }
  .contact-info .me .image img {
    width: 100%;
  }
  .contact-info .me .info {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow-x: scroll;
  }
  .contact-info .me .info p {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
  }
  .project .title-container {
    font-size: 16px;
    white-space: nowrap;
    padding: 3.5%;
  }
  .skills {
    height: 250px;
  }
  .skills .title-container {
    font-size: 16px;
    white-space: nowrap;
    padding: 3.5%;
  }
  .skills .skill-container .item {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
  }
  .skills .skill-container .item .image {
    width: 100%;
  }
  .skills .skill-container .item .image img {
    width: 100%;
  }
  .skills .skill-container .item p {
    white-space: nowrap;
  }
  footer {
    padding: 4%;
  }
}
/*# sourceMappingURL=style.css.map */